.menu
{
background-color: #888;
border-bottom: 4px solid #019299;
width:100%;
height: auto;
padding: 0 10px;
position: fixed;
margin: 0px;
z-index: 1;
opacity: 0.9;
}

.menu  .navbar-nav > .active > a
{
background-color : #888;
color: white;
font-weight: bold;
}
.navbar-header > a
{
font-family: 'Ubuntu Condensed', sans-serif;
padding: 0px;
margin: 0px;
text-decoration: none;
color: white;
font-size: 25px;
padding: 5px 30px;
}
.navbar-header > a:hover
{
text-decoration: none;
color:#019299 ;

}



.header{
    z-index: 500;
    height: 40px;
    width: 100%;
    background-color: #888;
    color: white;
}
.header ul{
    margin: 0;
    padding: 0;
}
.header li{
    width: 100px;
    height: 65px;
    background-color: #019299;
    padding: 0px 0 0 0px;
    text-align: center;
    float: right;
    list-style: none;
    margin-left: 1px ;
    
}
.header li a{
    font-family:'Roboto', sans-serif;
    text-decoration: bold;
    color: white;
}
.header li a:hover{
    font-size: 12px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease-in-out;
    color: ghostwhite;
}
.header-placeholder{
    margin: 0 0 0 0;
}
.fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
}
.fixed .header-inner{
    padding: 0 20px;
}
.fixed .header-inner-most{
    max-width:1160px;
    margin: 0 auto;
     background-color: #284c79;
}
#right-content{
    height: 600px;
}