<html ng-app="iflaunt"><head><title>i Flaunt</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
<link rel="stylesheet" href="./css/friends.css">
<link rel="stylesheet" href="./css/grid.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
</style>

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
<link rel="stylesheet"
	href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">

<script src="./js/angular-route.min.js"></script>

<script src="./controller/app.js"></script>
<script src="./controller/sessionService.js"></script>

<script language="javascript">
app.controller('Home', function ($scope, $http, sessionService, $window) {
	if(sessionService.get('user')==null){
		$window.location.href = './index.html';
        
	}else{
		$scope.user=sessionService.get('user')
		$scope.Email=$scope.user;
	}
	  $scope.Logout = function () {
		  sessionService.destroy('user');
		  $window.location.href = './index.html';
	        	  
	  }
	  
	  
	  $scope.search = function($evt){
	        var searchbar = document.getElementById('searchbar');

	        if(!searchbar.value)
	            document.getElementById('suggestions').style.display = "none";
	        else{
	            $http.get('user/search/'+searchbar.value).success(function(data){
	                console.log(data);
	                
	            	$scope.searchdUsers=data;
	            	if(data != null){
	                    var length = data.length;
	                    var i;
	                    var ul = document.getElementById('suggestions_ul');
	                    ul.innerHTML = "";
	                    var child = "";
	                    
	                   /*  for(i = 0; i < length; i++ ){
	                    	console.log();
	                    	console.log(data[i][9]);
	                    	child += '<a href="#/profile/'+data[i].firstName+" "+data[i].lastName+'"><li><img ng-src="/user/getProfilePicture/'+data[i].userName+'" src="/user/getProfilePicture/'+data[i].userName+'" />'+data[i].firstName+ " "+ data[i].lastName+'</li></a>';
	                    } */
	                    ul.innerHTML = child;
	                    document.getElementById('suggestions').style.display = "block";
	                }
	            });
	        }
	    };
	  
	  
	
});



      </script> 
</head><body class="w3-theme-l5" ng-controller="Home">

<!-- Navbar -->
<div class="w3-top">
 <ul class="w3-navbar w3-theme-d2 w3-left-align w3-large">
  <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
    <a class="w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  </li>
  <li><a href="home.html" class="w3-padding-large w3-hover-white"><i class="fa fa-home w3-margin-right"></i>i Flaunt</a></li>
  
  <li class="w3-hide-small"><a href="FriendsRequest.html" class="w3-padding-large w3-theme-d4"> Friends 
  <i class="fa fa-group"></i></a></li>
  <li class="w3-hide-small"><a href="ImageUpload.html" class="w3-padding-large w3-hover-white" >Flaunt Now 
  <i class="fa fa-camera-retro"></i></a></li>
  <li class="w3-hide-small w3-dropdown-hover">
    <a href="TrendsNearby.html" class="w3-padding-large w3-hover-white" >Near By Trends
  <i class="	fa fa-street-view"></i></a>
  
  <li class="w3-hide-small w3-dropdown-hover">
    <a class="w3-padding-large w3-hover-white" ng-click="Logout()">Log Out
  <i class="fa fa-power-off"></i></a>
    
  </li>
  <li class="w3-hide-small w3-right"><a href="profile-update.html" class="w3-padding-large w3-hover-white" title="My Account"> {{user}} <img src="./images/avatar.png" class="w3-circle" style="height:25px;width:25px" alt="Avatar"></a></li>
 </ul>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-hide w3-hide-large w3-hide-medium w3-top w3-show" style="margin-top:51px">
  <ul class="w3-navbar w3-left-align w3-large w3-theme">
    <li><a class="w3-padding-large" href="FriendsRequest.html"> Friends <i class="fa fa-group"></i></a></li>
    <li><a class="w3-padding-large" href="ImageUpload.html">Flaunt Now <i class="fa fa-camera-retro"></i></a></li>
    <li><a class="w3-padding-large" href="TrendsNearby.html">Near By Trends <i class="	fa fa-street-view"></i></a></li>
    <li><a class="w3-padding-large" href="profile-update.html">My Profile <i class="fa fa-cog"></i></a></li>
    <li><a class="w3-padding-large" ng-click="Logout()">Log Out <i class="fa fa-power-off"></i></a></li>
  </ul>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    
    <div class="w3-col m3">
      <input class="searchbar" id="searchbar" ng-keyup="search($evt)" type="search" placeholder="search" "/>
                <div id="suggestions" ng-cloak>
                    <ul id="suggestions_ul">

                    </ul>
                </div>
    </div>
    
   
  </div>
  	
  	<div class='md-padding' layout="row" layout-wrap>
        <md-card style="width: 300px;" ng-repeat="user in searchdUsers">
          <img ng-src="/user/getProfilePicture/{{user.username}}" src="/user/getProfilePicture/{{user.userName}}" class="md-card-image" alt="user avatar" width="150" height="150"/>
          <md-card-content>
            <h2>{{user.firstName}} {{user.lastName}}</h2>
            <p> {{user.birthDate}} </p>
            <p>{{user.bio}}</p>
            
          </md-card-content>
          <div class="md-actions" layout="row" layout-align="end center">
            <md-button>Save</md-button>
            <md-button>View</md-button>
          </div>
        </md-card>
   </div>
  
  
  <!--  <table>
    <tr ng-repeat="user in searchdUsers">
	<td>
		
	
	
		<div class="friends-grids">
			<div class="grids-left">
				<img class="img-circle img-responsive" width="200" height="200" ng-src="/user/getProfilePicture/{{user.userName}}" src="/user/getProfilePicture/{{user.userName}}" />
			</div>	
			<div class="friend-grid"><p class="flowers">14k</p></div>
			<div class="grids-right">
				<h2>{{user.firstName}} {{user.lastName}}</h2>
			<img src="images/heart.png" />
					<ul class="grids-right-info">
						<li class="user">107</li>
						<li class="camera">23</li>
						<li class="chat">6</li>
							<div class="clear"> </div>
					</ul>
			</div>
			<div class="clear"> </div>
		</div>
		</td>
    </tr>
    </table> -->
  
</div>
<br>

<!-- Footer -->



 
<script>
// Accordion
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme-d1";
    } else {
        x.className = x.className.replace("w3-show", "");
        x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" w3-theme-d1", "");
    }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>




</body></html>